<div class="card">
  <img class="card_image" src="{{content.imageUrl}}" alt="card photo"/>
  <div class="card_author">{{content.author}}</div>
  <div class="card_content">
    <div class="navigation">
      <div class="tags">
        <button class="tag" *ngFor="let tag of content.tags">{{tag}}</button>
      </div>
      <div class="buttons">
        <button class="button button_favorite" (click)="switchFavoriteRecipe()">
          <img class="button_image" *ngIf="!isFavoriteRecipe" src="/assets/images/star_border.png" alt="star photo"/>
          <img class="button_image" *ngIf="isFavoriteRecipe" src="/assets/images/star.png" alt="star photo"/>
          <span class="button_text">{{content.favorites}}</span>
        </button>
        <button class="button button_like" (click)="switchLikedRecipe()">
          <img class="button_image" *ngIf="!isLikedRecipe" src="/assets/images/favorite_border.png" alt="heart photo"/>
          <img class="button_image" *ngIf="isLikedRecipe" src="/assets/images/favorite.png" alt="heart photo"/>
          <span class="button_text">{{content.likes}}</span>
        </button>
      </div>
    </div>
    <span class="card_header">{{content.name}}</span>
    <span class="card_text">{{content.description}}</span>
    <div class="information">
       <div class="information-about information-about_timer">
          <span class="information-about_text information-about_text__timer">
            Время приготовления:
          </span>
          <span class="information-about_number information-about_number__timer">
            {{content.cookingTimeInMinutes}}
          </span>
       </div>
       <div class="information-about information-about_people">
          <span class="information-about_text information-about_text__people">
            Рецепт на:
          </span>
          <span class="information-about_number information-about_number__people">
            {{content.totalPersons}}
          </span>
       </div>
    </div>
  </div>
</div>
