<div id="detailed" class="recipes-page">
  <app-header></app-header>
  <div class="main" *ngIf="main">
    <div class="title">
      <span class="title_text">Рецепты</span>
      <button class="title_button" (click)="addRecipe()">Добавить рецепт</button>
    </div>
    <div class="mini-cards">
      <div class="mini-card mini-card_1" [routerLink] = "['/recipes', 'Простые блюда']">
        <span class="mini-card_header">Простые блюда</span>
      </div>
      <div class="mini-card mini-card_2" [routerLink] = "['/recipes', 'Детское']">
        <span class="mini-card_header">Детское</span>
      </div>
      <div class="mini-card mini-card_3" [routerLink] = "['/recipes', 'От шеф-поваров']">
        <span class="mini-card_header">От шеф-поваров</span>
      </div>
      <div class="mini-card mini-card_4" [routerLink] = "['/recipes', 'На праздник']">
        <span class="mini-card_header">На праздник</span>
      </div>
    </div>
    <div class="search">
      <span class="search_header">Поиск рецепта</span>
      <div class="search_directive"><app-search></app-search></div>
    </div>
    <div class="cards">
      <app-card-recipe class="card" *ngFor="let recipe of recipes" [content]="recipe" [routerLink] = "['/recipe', recipe.id]"></app-card-recipe>
      <button class="cards_button" (click)="showMoreRecipes()">Загрузить еще</button>
    </div>
  </div>
  <div class="added" *ngIf="added">
    <a class="back" (click)="showRecipes()">Назад</a>
    <app-new-recipe></app-new-recipe>
  </div>
  <div class="detailed" *ngIf="detailed">
    <a class="back" (click)="showRecipes()">Назад</a>
    <app-recipe></app-recipe>
  </div> 
  <div class="profile" *ngIf="profile">
    <a class="back" (click)="showRecipes()">Назад</a>
    <app-profile></app-profile>
  </div>
</div> 
<app-footer></app-footer>