<div class="popup-registration">
  <button mat-dialog-close class="exit"><span class="exit-text">+</span></button>
  <span class="popup-registration_header">Регистрация</span>
  <input class="popup-registration_input popup-registration_input__big" placeholder="Имя" type="text" name="name">
  <input class="popup-registration_input popup-registration_input__big" placeholder="Логин" type="text" name="login">
  <div class="inputs-small">
    <input class="popup-registration_input popup-registration_input__small" placeholder="Пароль" type="password" name="password">
    <input class="popup-registration_input popup-registration_input__small" placeholder="Повторите пароль" type="password" name="password">
  </div>
  <span class="popup-registration_helper">Минимум 8 символов</span>
  <div class="buttons">
    <button class="popup-registration_button popup-registration_button__registration">
      Зарегистрироваться
    </button>
    <button mat-dialog-close class="popup-registration_button popup-registration_button__cancel">
      Отмена
    </button>
  </div>
  <a mat-dialog-close (click)="openPopupAuthorization()" class="popup-registration_text">У меня уже есть аккаунт</a>
</div>