<div class="main-page">
  <div class="authorization">
    <app-header></app-header>
    <div class="authorization-content">
      <span class="authorization-content_header">
        Готовь и делись рецептами
      </span>
      <span class="authorization-content_text">
        Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.
      </span>
      <div class="authorization-content_buttons">
        <button class="authorization-content_button authorization-contentt_button__add">
          Добавить рецепт
        </button>
        <button (click)="openPopupSwitch()" class="authorization-content_button authorization-contentt_button__enter">
          Войти
        </button>
      </div>
    </div>
  </div>
  <div class="sorting">
    <span class="sorting_header">
      Умная сортировка по тегам
    </span>
    <span class="sorting_text">
      Добавляй рецепты и указывай наиболее популярные теги. 
      Это позволит быстро находить любые категории.
    </span>
    <div class="cards">
      <div class="card card_1">
        <span class="card_header">Простые блюда</span>
        <span class="card_text">
          Время приготовления таких блюд не более 1 часа
        </span>
      </div>
      <div class="card card_2">
        <span class="card_header">Детское</span>
        <span class="card_text">
          Самые полезные блюда которые можно детям любого возраста
        </span>
      </div>
      <div class="card card_3">
        <span class="card_header">От шеф-поваров</span>
        <span class="card_text">
          Требуют умения, времени и терпения, зато как в ресторане
        </span>
      </div>
      <div class="card card_4">
        <span class="card_header">На Праздник</span>
        <span class="card_text">
          Чем удивить гостей, чтобы все были сыты за праздничным столом
        </span>
      </div>
    </div>
  </div>
  <div class="example">
    <div class="example-content">
      <span class="example_header">
        Тыквенный супчик на кокосовом молоке
      </span>
      <span class="example_text">
        Если у вас осталась тыква, и вы не знаете что с ней сделать, 
        то это решение для вас! Ароматный, согревающий суп-пюре на 
        кокосовом молоке. Можно даже в Пост!
      </span>
    </div>
    <span class="example_tag">@glazest</span>
  </div>
  <div class="search">
    <span class="search_header">Поиск рецептов</span>
    <span class="search_text">
      Введите примерное название блюда, а мы по тегам найдем его
    </span>
    <div class="search_directive"><app-search></app-search></div>
  </div>
</div>  
<app-footer></app-footer>