.footer
{
  display: -webkit-flex; 
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  width: 83.2%;
  height: 39px;
  padding: 37px 8.4% 37px;
  justify-content: space-between;
  background-color: #FBF9F4;
}

.recipes
{
  width: 99px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 29px;
  color: #FDB100;
  margin-top: 5px;
}

.recipes-footer
{
  width: 151px;
  height: 24px;
  margin-top: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #4A525A;
}