.card
{
  display: -webkit-flex; 
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 430px;
  border-radius: 72px 24px 24px 24px;
  position: relative;
  background-color: #FFF;
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
}

.card_image
{
  width: 430px;
  height: 430px;
}

.card_author
{
  position: absolute;
  left: 0;
  bottom: 37px;
  height: 32px;
  padding: 0 15px;
  background-color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #FDB100;
  border-radius: 0 5px 5px 0;
}

.card_content
{
  display: -webkit-flex; 
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 36px 2.5% 0 4.3%;
  width: 57.3%;
  height: 379px;
}

.navigation
{
  display: -webkit-flex; 
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.tags
{
  display: -webkit-flex; 
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
}

.tag
{
  height: 23px;
  background: rgba(253,177,0,0.2);
  border-radius: 5px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #F29E1F;
  padding: 0 7%;
  margin-right: 3%;
  cursor: pointer;
  white-space: nowrap;
  text-transform: lowercase;
}

.buttons
{
  display: -webkit-flex; 
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33.1%;
}

.button
{
  display: -webkit-flex; 
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 46.7%;
  height: 50px;
  border: 1px solid #FDB100;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #FFF;
  position: relative;
  cursor: pointer;
}

.button_text
{
  display: block;
  width: 19px;
  height: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FDB100;
  margin-left: 9%;
}

.card_header
{
  width: 693px;
  height: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  color: #25292D;
  margin-top: 37px;
}

.card_text
{
  width: 571px;
  height: 95px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #4A525A;
  margin-top: 14px;
}

.information
{
  display: -webkit-flex; 
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  height: 60px;
  margin-top: 40px;
}

.information-about
{
  display: -webkit-flex; 
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.information-about_timer::before
{
  content: url("/assets/images/timer.png");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.information-about_timer
{
  width: 47%;
}

.information-about_people::before
{
  content: url("/assets/images/people_outline.png");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 2px;
}

.information-about_people
{
  width: 41%;
}

.information-about_text
{
  width: 168px;
  height: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #25292D;
  opacity: 0.5;
}

.information-about_text__timer
{
  margin: 3px 0 0 28%;
}

.information-about_text__people
{
  margin: 4px 0 0 37%;
}

.information-about_number
{
  height: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #25292D;
  white-space: nowrap;
}

.information-about_number__timer
{
  width: 61px;
  margin: -4px 0 0 28%;
}

.information-about_number__people
{
  width: 75px;
  margin: -4px 0 0 37%;
}